@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}


<div class="breadcrumb-section">
    <div class="container">
        <ol class="breadcrumb">
            <li><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="active">About Us</li>
        </ol>
    </div>
</div>
<section class="inner-content">
    <div class="container">
        <!-- ****************** About Us Section	****************** -->
        <div class="about-us">
            <div class="heading"><span>About Us</span></div>
           
            <p>
                Choklad is a recognized leader in the market for premium quality chocolate, offering a large selection of products in more than 120 countries. Drawing on 175 years of experience and innovation, Choklad has built a reputation as one of the most creative companies crafting premium chocolate.
                Choklad (USA) Inc. is the fastest growing company among the 25 Choklad international subsidiaries. Headquartered in Ramsey, New Jersey, Choklad USA is located just 30 minutes from New York City.
                Quality chocolate products by Choklad are made right here in the United States at our Ramsey, NJ, campus, and at 50 locations across the USA.
            </p>

            <div class="img"><img src="~/assets/images/about-us-img.jpg" alt="" class="img-responsive" /></div>
            <label>History</label>
            <p>
                Established at the Ramsey, New Jersey, campus in 1974, Choklad (USA) celebrated 45 years of growth and innovation in 2021. Starting out with just 1,400 tons of production volume in 1974, the company has grown to produce more than 41,000 tons per year—and will continue to expand its facilities to meet growing demand in the US for Choklad products. Today, Choklad holds the position of No. 1 in the US premium chocolate segment.
            </p>
            <p>
                Over the years, Choklad has introduced several innovations that have transformed the US chocolate market. When Choklad EXCELLENCE launched its vertical packaging, many US bars—formerly in horizontal packaging—followed in step, creating more space on shelves that has allowed retailers to carry a larger assortment of products. Innovation, including the launch of the CHOKLAD mini bag, CHOKLAD caramel, and the CHOKLAD EXCELLENCE sea salt bar, continued to set the standard for creativity and excellence in the US chocolate market.
                With more than 50 retail stores across the country, a robust wholesale business, and a passion for excellence in everything we do, Choklad USA is poised for its next stage of growth. Our production expansion project, launched in 2023, will help to meet this growing demand by doubling manufacturing capacity at the Ramsey campus, establishing the largest Choklad’s production facility in North America.
            </p>

            <label>Specialty</label>
            <p>The underpinning of our incredible chocolate has, and always will be, an authenticity that flows from our proud Gerr heritage.<br />
            The standard bars consist of two or four pieces composed of three layers of wafer, separated and covered by an outer layer of chocolate. Each finger can be snapped from the bar separately. There are many flavours of CHOKLAD, including milk, white, and dark chocolate.<br />
            The original four-finger version of the bar was developed after a worker at Ramsey factory put a suggestion in the recommendation box for 'a chocolate bar that a man/woman could take to work in his/her pack up'.<br />
            The 'standard' CHOKLAD finger bars can come in a variety of presentations and nutritional values. The bars can come in a miniature form of two finger mini bars, or a larger standard four, or in some cases, three, fingered bars.<br />
            The standard size has been upgraded in several cases up to a 'monster Size' bar, which can include up to five or eight fingers. Large single-fingered "Chunky Choklad" were launched in the United States in 1998 and have been sold in a variety of flavours. The market for Chunky Choklad has also expanded to New Hampshire.<br />
            In 2015, a new luxury and giftable variant of Choklad called Choklad Goodie was launched in the United States. Comes with the box of 20 small bars, the Choklad bar made with the premium chocolate truffle cream and imported roasted hazelnut pieces.<br />
            As of 2021, U.S. variants include the standard and king-size four-finger bars, standard bars covered with white or dark chocolate, snack-size orange-covered bars for Halloween, bagged wrapped one-finger miniatures (original and assorted), unwrapped minis, a redesigned Big Choklad, and a king-size Big Choklad.</p>

            <p>Today, CHOKLAD is the world’s most iconic premium chocolate company, dedicated to opening people’s eyes to a more wonderful world.</p>
        </div>

        <!-- ****************** Our Customer  Section ****************** -->
        <section class="our-customers section-block">
            <div class="heading"><span> OUR BRAND RECOGNITION </span></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="cust-info">
                                <span class="icon"><i class="fa fa-gift" aria-hidden="true"></i></span>
                                <p><span class="counter">200</span> Orders Per Day </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="cust-info">
                                <span class="icon"><i class="fa fa-users " aria-hidden="true"></i></span>
                                <p><span class="counter">35000</span> Customers </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="cust-info">
                                <span class="icon"><i class="fa fa-trophy" aria-hidden="true"></i></span>
                                <p><span class="counter">15</span> Awards</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="client-slider">
                        <div>
                            <div class="client-feedback">
                                <div class="client-img"><img src="~/assets/images/user-img.jpg" alt="" /></div>
                                <div class="detail">
                                    <h4>James Smith</h4>
                                    <p>Most amazing affordable chocolate that you can get at just about any store! It's a rich, creamy chocolate on the outside with an amazing soft chewy middle! Amazing thing to snack on or even to give as a gift! You could never go wrong with this chocklad!</p>
                                </div>
                            </div>
                            <div class="client-feedback">
                                <div class="client-img"><img src="~/assets/images/user-img.jpg" alt="" /></div>
                                <div class="detail">
                                    <h4>Tanya Pomona</h4>
                                    <p>
                                        As a dark chocolate consumer I really have enjoyed the different flavors produced by the Choklad. My latest order was the semisweet dark chocolate wafers with a smooth melt in your mouth experience.
                                        I particularly appreciate receiving the requested samples of other dark chocolate flavors to help narrow my choices to finally selecting a favorite one.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="client-feedback">
                                <div class="client-img"><img src="~/assets/images/user-img.jpg" alt="" /></div>
                                <div class="detail">
                                    <h4>Alice Wonderland</h4>
                                    <p>If you're a cocolate lover, this is the place for you! The Chocolate is reach and creamy, We really loved it! :)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
