@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "FAQ";
}
<!-- ****************** Breadcrumb Section	****************** -->
<div class="breadcrumb-section">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="faq.html">All Pages</a></li>
            <li class="active">FAQ's</li>
        </ol>
    </div>
</div>
<section class="inner-content">
    <div class="container">
        <!-- ****************** FAQ's Section	****************** -->
        <div class="faq-page">
            <div class="heading"><span>Frequently Asked Questions</span></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="search-view">
                        <input value="" placeholder="Enter a search term …" type="text">
                        <button type="submit" value=""><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Do you have a sugar-free Choklad Chocolate or one with a sugar substitute?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            Yes, we do have sugar-free chocolate packages. Our mission is to provide the best product for our customers. The  Sugar-free chocolate is produced with  a lot of consideration in our customer's choice.  We do our best to always be one step ahead to support healthy living.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                I want to order a product but I can’t find it online, what can I do?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            As Choklad  has a lot of products, it is impossible to offer all these products online. We have selected our most popular products in a variety of flavours to offer you the most complete Choklad experience. If you want to order a product that is not on the webshop, please contact Gerrsupport@gmail.com.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Are Choklad chocolates suitable for individuals with milk allergies?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            Most Choklad Chocolates are not suitable for individuals with milk allergies since most Choklad Chocolates contain milk powder or traces of milk powder. Some products do not have milk as an ingredient (but can contain traces of it) such as:
                            <ul>
                                <li>100g Dark Chocolate No Sugars Added Bar</li>
                                <li>100g Dark Chocolate No Sugars Added Bar with Cranberries</li>
                                <li>100g Dark Chocolate Bar</li>
                                <li>Dark Chocolate Coated Blueberries</li>
                                <li>Dark Chocolate Coated Strawberries</li>
                            </ul> Because we care about providing you with all necessary information, you will find detailed allergen information on each product’s detail page and on the back of the pack.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                Is it possible to visit your company?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                            As a food company we have very strict rules and procedures for food safety and hygiene. We do allow our customers to visit our company but due to the Covid we have very limited access for external visitors to visit our product unit. But customers are allowed to visit our frontdesk to check the different types of chocolates, review products and make orders.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFive">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                                My chocolate sometimes turns tan or white. What causes this?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                        <div class="panel-body">
                            Chocolate contains cocoa butter, a vegetable fat that is sensitive to heat and humidity. Temperatures above 75°F will cause chocolate to melt. The cocoa butter can rise to the surface and form a discoloration called "cocoa butter bloom." Condensation on milk or semi-sweet chocolate may cause the sugar to dissolve and rise to the surface as "sugar bloom." Chocolate that has "bloomed" is certainly safe to use, but flavor loss and texture changes may be noticed.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSix">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                                How should I store chocolate?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                        <div class="panel-body">
                            Solid chocolate products will maintain their quality if well wrapped and stored in a cool, dry place (55-60°F). While refrigerated chocolate is certainly safe to use, we don't recommend it. Chocolate kept in the refrigerator may "sweat" when brought to room temperature. Cocoa is considered a non-perishable item which should maintain quality if stored at room temperature in a tightly sealed container.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSeven">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                                Is there any extra fee on Custom Orders?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                        <div class="panel-body">
                            Yes, there can be personalization fees and/or a one-time mold/set-up fee that applies to some custom orders. For more information about custom orders please contact us by phone at (201)-868-6070 or email us at Gerrsupport@gmail.com.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>