@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Return Policy";
}
<div class="breadcrumb-section">
    <div class="container">
        <ol class="breadcrumb">
            <li><a asp-action="Index" asp-controller="home">Home</a></li>
            <li class="active">Return Policy</li>
        </ol>
    </div>
</div>

<section class="inner-content">
    <div class="container">
        <!-- ****************** Return Policy Section	****************** -->
        <div class="return-policy">
            <div class="heading"><span>Return Policy</span></div>
            
            <label>Refunds, returns, and exchanges</label>
            <p>
                Your order is guaranteed to arrive in perfect condition at the shipping address provided. 
                If you are not completely satisfied with the quality of your order upon arrival, please contact Customer Care within 14 days of receipt, with a detailed description and photograph(s) stating your dissatisfaction for assistance with a return
            </p>

            <p>
                We only accept returns if The item is unused and in its original containers in which they were shipped out to the customers. All claims submitted without proper support will not be eligible for return / refund.
            </p>

            <p>
                In the event that your order arrives damaged in any way, please email us as soon as possible at <a href="mailto:gerrsupport@gmail.com">Gerrsupport@gmail.com.</a> with your order number and a photo of the item’s condition. We address these on a case-by-case basis but will try our best to work towards a satisfactory solution.
            </p>

            <p>Choklad is not responsible for failed deliveries when:</p>
            <ol>
                <li>The customer provides an incorrect / outdated address.</li>
                <li>The recipient is out of town or not available.</li>
                <li>If the customer doesn’t provide a correct address within the 24 hours of the first delivery attempt.</li>
            </ol>

            <p><strong>NOTE:</strong> The request for return or rerouting due to incorrect address will be subjected to additional charges.</p>
        </div>    
    </div>
</section>
