@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Terms & Conditins";
}
<!-- ****************** Breadcrumb Section	****************** -->
<div class="breadcrumb-section">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Terms & Conditions</li>
        </ol>
    </div>
</div>

<section class="inner-content">
    <div class="container">
        <!-- ****************** About Us Section	****************** -->
        <div class="termsandconditions">
            <div class="heading"><span>Terms & Conditions</span></div>

            <h4>Choklad Terms Of Use</h4>
            <p>
                These Terms of Use (the "Terms of Use") govern your access and use of our websites and online shops.
            </p>

            <p>
                This website (the “Site”) (each “Online Services”) is operated by or on behalf of Choklad Gerr Inc. (“Choklad,” “we,” “us,” or other similar pronouns). These Terms of Use (this “TOU”) apply to your use of the Online Services. By using any Online Service, you acknowledge that you understand and agree to these Terms and Conditions.
            </p>

            <h3>Please read these terms of use carefully before you start using the website.</h3>

            <h4>DEFINITIONS</h4>
            <p>
                <ul>
                    <li>“You” and “your” means the person ordering from Choklad must be over 16 years of age.</li>
                    <li>“Choklad” or “we” or “us” or “our” means Choklad Gerr Inc. is  a company registered in the USA. Our registered office is in Ramsey, New Jersey, USA .</li>
                    <li>“Guest Accounts” means your details and shopping history which is created when you register to shop through our website.</li>
                    <li>“Deliver” means delivering your  order to the address specified in your order (and that address must be within the USA and International order (“our delivery area”).</li>
                    <li>“Delivered” shall be interpreted accordingly.</li>
                    <li>“Let us know” means to call our Customer Services on 1800-989-9090. You may also write to us at gerrsupport@gmail.com or “Site” or “website” means <a href="www.chokladgerrinc.com">www.chokladgerrinc.com</a>.</li>
                </ul>

            </p>

            <h4>BECOMING A CUSTOMER</h4>
            <p>When you make an order you login in as a guest. We reserve the right to decline your order or to suspend at any time and at our sole discretion.</p>

            <h4>OUR CONTRACT</h4>
            <p>Our site invites you to buy goods from us. Once you have placed an order on the site we will send you an order acknowledgement by email setting out what you have ordered and the price of your order. This is not an order confirmation or acceptance from us. A legally binding contract with you will only arise once we have completed delivery of the goods to you. At this time, you become the owner of the goods.</p>
            <p>These terms regulate the supply of goods to you by us. Any other terms, conditions or representations (other than those made fraudulently or implied by statute) are excluded.</p>

            <h4>PRICE</h4>
            <p>The price of the goods you order will be the price on the site at the time you place your order or amend your order. If a new price or promotion is in place after you have placed your order for example, a multi-buy offer or price reduction which may be advertised on the packaging of goods you have ordered, these prices and promotions will not be applied to your order. In addition to the price, a delivery charge will also be payable by you. We charge for the delivery according to charges set out in our Shipping & delivery page.</p>

            <h4>PRODUCTS</h4>
            <p>
                All of our products are approved by the FDA.  All milk products are natural unless specified otherwise in the labels of the product.  It is your responsibility to verify the product you purchase.  Product packaging may vary from that shown on our website. We aim to select goods with a reasonable amount of time left on the expiry date. However, please note that some fresh produce items naturally only have limited shelf life when they arrive in the store, therefore it is reasonable for them to have a shelf life of less than two days when they are delivered
            </p>

            <h4>CHANGING AND CANCELLING YOUR ORDER</h4>
            <p>
                Cancelling your order: non-perishable items: if you have ordered items which are not liable to perish, deteriorate, or expire rapidly, and are not listed below you are able to change your mind and cancel your order for any reason within 15 days after delivery. We will arrange with you for the cancelled non-perishable goods to be returned to us, and we will credit your payment card with the price of such goods within 30 days from the date you returned the goods to us (provided payment has already been debited to your payment card). However, you will be responsible for the cost of facilitating the return of the cancelled goods and this cost will be deducted from your refund or debited to your payment card. To cancel an order for non-perishable items and arrange for the goods to be returned to us, please let us know.
            </p>

            <h4>WHAT WE ARE NOT LIABLE FOR:</h4>
            <p>
                Whilst we take every care to deliver your order, we cannot be liable for any indirect or consequential loss or damage or loss of profits or reliance you had in having the goods delivered to you arising out of our supply or failure to supply the goods to you. Nothing in this agreement shall in any way limit our liability for death or personal injury resulting from our breach of contract, tort or negligence nor limit any legal rights you have as a consumer. The goods are sold to you on the basis that you are a consumer therefore we will not be liable for any special losses that you might suffer using, re-distributing or reselling the goods as part of a business. We may use a third-party delivery service to deliver your goods. We will not be liable for anything that that third party might do to the goods.
            </p>
        </div>        
    </div>
</section>
